[observations]

#---------------------------------------------------
#  TITAN observation settings
#---------------------------------------------------
synop_obs_t2m = true             # SYNOP 2m air temperature from bufr files
synop_obs_rh2m = true            # SYNOP 2m relative humidity from bufr files
synop_obs_sd = true              # SYNOP snow depth from bufr files
netatmo_obs_t2m = true           # 2m air temperature observations from Netatmo stations
netatmo_obs_rh2m = true          # 2m relative humidity observations from Netatmo stations
netatmo_filepattern = "@sfx_exp_data@/archive/observations/@YYYY@/@MM@/@DD@/@HH@/@RRR@"
# netatmo_filepattern = "/lustre/storeB/project/metproduction/products/netatmo/@YYYY@/@MM@/@DD@/@YYYY@@MM@@DD@T@HH@@mm@01Z.json"
# netatmo_filepattern = "/tmp/host1/testdata/@YYYY@@MM@@DD@T@HH@@mm@*Z_all.json"

[observations.qc]
# QC_TESTS = ["domain", "blacklist", "nometa", "redundancy", "plausibility", "sct"]
tests = ["domain", "nometa", "plausibility", "sct"]

[observations.qc.sd]
tests = ["domain", "blacklist", "nometa", "plausibility", "firstguess"]


[observations.oi.t2m]
gradient = -0.0065
hlength = 30000
vlength = 400

[Observations.oi.rh2m]
hlength = 30000
vlength = 400

[observations.oi.sd]
hlength = 60000
vlength = 300
